*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:  #ffff;
}


.header {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: auto;
    background-color: lightsteelblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(14, 14, 75), rgb(91, 145, 216));

  }

.logoo {
    float: left;
}

.header h1 {
    text-align: center;
    font-family: 'Faster One';font-size: 60px;
}



.navbar {
    overflow: hidden;
    background-color: rgb(224, 224, 224);
}

  .searchbutton {
    position: absolute;
    right: 200px;
    padding: 16px 20px;
    height: 50px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
 
    cursor: pointer;

}
.search {
    position: absolute;
    right: 220px;
    width: 800px;
    height: 50px;  
    padding: 16px 20px;
    font-size: larger;
    background-color: rgb(231, 226, 216);
}

.nav-link{
    flex: 1;
    text-align: right;
}


  
.nav-link a{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-link a{
    color: #ffff;
    text-decoration: none;
}


.upload-button{
    background-color: rgb(1, 93, 214);

    color: rgb(144, 179, 224);
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    margin: 2px 1px;
    float: right;
    border-radius: 40%;

}

.upload-button {
    background-color: rgb(248, 80, 111); 
    color: white; 
    border: 4px solid #49010d
  }
  


.login-button{
    background-color: rgb(65, 51, 192);
    text-align: center;
    display: inline-block;
    padding: 16px 20px;
    margin: 2px 1px;
    float: right;

}

.background h2 {
    text-align: center;
}
